<?xml version="1.0" encoding="UTF-8"?>
<config>
	<document>
		<path>../</path>
		<root action="index">home</root>
		<file>indexController.php</file>
	</document>
	<sitemap>
		<page name="home" index="index" return="DomDocument">
			<class>indexController</class>
			<method>indexAction</method>

			<action name="index">
				<arr name="test">
					<var name="testi">Testx</var>
				</arr>
				<style renderby="server">../example/styles/xss/index.xsl</style>
			</action>
		</page>
	</sitemap>
</config>